@media only screen and (min-width: 768px) {

    .btn-default:not(:disabled):hover {
        background-color: #222;
    }

    .register-txt a:hover {
        color: #222;
        text-decoration: none;
    }

    .default-pagination .page-link:hover {
        background-color: rgba(255,255,255,.9);
    }

    .link-txt:hover {
        text-decoration: none;
    }

}