@media only screen and (max-width: 991px) {
    .alert-custom  {
        top: 150px;
    }
}

@media only screen and (max-width: 767px) {

    .wrapper {
        margin-bottom: 80px;
        margin-top: 80px;
    }

}

@media only screen and (max-width: 480px) {

    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .title {
        font-size: 1.7em;
    }

    .form-block {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

}