body {
    background-color: #496684;
    font-family: Helvetica, Arial, sans-serif;
}

:focus {
    box-shadow: none !important;
    outline: none !important;
}

.title {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 2.2em;
}

.wrapper {
    margin-bottom: 150px;
    margin-top: 150px;
}

.form-block {
    border-radius: 9px;
    margin: 0 auto;
    padding: 25px 30px;
    width: 450px;
}

.form-block,
.default-table {
    background-color: rgba(255,255,255,.3);
    color: #333;
    -webkit-box-shadow: 0 0 16px 0 rgba(0,0,0,0.33);
    -moz-box-shadow: 0 0 16px 0 rgba(0,0,0,0.33);
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.33);
}

.form-block .form-control {
    border-radius: 5px;
    transition: border ease .4s;
    -webkit-transition: border ease .4s;
    -o-transition: border ease .4s;
    -moz-transition: border ease .4s;
}

.form-block .custom-select,
.form-block .form-control {
    border: 1px solid #222;
}

.form-block .form-group {
    position: relative;
}

.form-block .form-control:focus {
    border-color: #000;
}

.btn-default {
    background-color: #333;
    color: #ccc;
    display: block;
    margin-bottom: 20px;
    font-size: 1.125rem;
    width: 100%;
    transition: background ease .4s;
    -webkit-transition: background ease .4s;
    -o-transition: background ease .4s;
    -moz-transition: background ease .4s;
}

.form-info,
.form-block .custom-select,
.form-block .form-control,
.form-block .btn-default {
    height: 44px;
}

.register-txt {
    color: #ccc;
}

.register-txt a {
    color: #333;
    font-weight: bold;
    margin-left: 3px;
    transition: color ease .4s;
    -webkit-transition: color ease .4s;
    -o-transition: color ease .4s;
    -moz-transition: color ease .4s;
}


.form-error .error-txt {
    display: block;
}

.form-error .form-control {
    border-color: #fb5151;
}

.error-txt {
    color: #fb5151;
    display: none;
}

.btn-default:active {
    background-color: #000;
}

.default-table .btn-default {
    margin-bottom: 0;
    font-size: 1rem;
}

.default-table td {
    vertical-align: middle;
}

.register-txt a:active {
    color: #000;
}

.form-info {
    line-height: 44px;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.form-info:before {
    background-color: #222;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.form-info-out .form-control {
    padding-right: 55px;
}

.default-pagination .page-link {
    background-color: rgba(255,255,255,.4);
    color: #333;
}

.page-item.active .page-link {
    background-color: rgba(255,255,255,.9);
    border-color: #fff;
    color: #333;
}

.table-responsive {
    margin-bottom: 10px;
}

.full-width {
    width: 100%;
}

.link-txt {
    text-decoration: underline;
    cursor: pointer;
}

.search-table {
    margin-top: 50px;
}

.alert-custom  {
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 10000;
}

.default-table thead th {
    vertical-align: top;
}

.map-cont {
    width:500px;
    height:500px;
}

.change-password-span {
    top: -1px;
    position: relative;
}